@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@theme {
  --font-plusJakartaSans: "Plus Jakarta Sans", sans-serif;

  --color-primary: #0f0f0f;
  --color-secondary: #0f0f0fcc;
  --color-primary-btn: #0ea106;
  --color-primary-btn-opacity: #09982f1a;
  --color-secondary-btn: #176ae5;
  --color-secondary-btn-opacity: #176ae51a;
  --color-tertiary-btn: #ffa000;
  --color-tertiary-btn-opacity: #ffa0001a;

  --color-primary-border: #0f0f0f26;
}

:root {
  font-family: "Mulish", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navlink {
  position: relative;
}
.navlink::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.navlink.active::after {
  width: 100%;
}
footer .navlink::after {
  background-color: #ffffff;
}

.home_hero {
  height: 80vh;
  width: 100%;
  border-radius: 32px;
  background-image: url("../assets/banner-img-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
